
* {
	margin: auto;
	font-family: Arial;
	/*background: #e9eaec;*/
}

.main-content {
	margin-top: 20px;
}

.main-title {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.portrait img {
	display: block;
	border: 2px solid black;
	border-radius: 8px;
	width: 200px;
	height: 200px;
}

.section {
}

.section h2 {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.section ul {
	width: 180px;
}

.section li {
	font-size: 1.5rem;
	font-weight: bold;
}

.experience-section {

}

.important-text {
		font-size: 2rem;
		font-weight: bold;
}

.normal-text {
		font-size: 2rem;
}

.detail-text {
	font-size: 1.8rem;
}
