* {
    --wechat-green: #7BB32E;

    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    flex: 10;
    align-items: center;
    box-shadow: 0px 1px 2px black;
    background-color: var(--wechat-green);
    color: white;
}

.header h1 {
    margin-left: 10px;
}

.content {
    flex: 83;
    background-color: #f4f4f4;
}

.content-inner {
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-inner span:nth-child(2) {
    margin: 10px;
    font-size: 2rem;
}

.content-inner .pay-btn {
    width: calc(100% - 30px);
    padding: 16px;
    text-align: center;
    border-radius: 4px;
    background-color: #5CC928;
    color: white;
    font-size: 1.2rem;
}

.content-inner .pay-btn:active {
    background-color: green;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.footer {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav span {
    width: 22%;
    text-align: center;
}

.nav span:hover {
    cursor: pointer;
}