/* GENERAL */
* { font-family: Georgia; box-sizing: border-box; color: #333; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { text-decoration: underline; }

.mixin-light-bg { background-image: url("../img/snow.png"); }

.mixin-dark-bg, .nav-title, .footer { background-image: url("../img/tweed.png"); }

/* GENERAL */
* { font-family: Georgia; box-sizing: border-box; color: #333; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { text-decoration: underline; }

.mixin-light-bg { background-image: url("../img/snow.png"); }

.mixin-dark-bg, .nav-title, .footer { background-image: url("../img/tweed.png"); }

/* NAVBAR */
/* MOBILE */
.navbar { height: 100px; width: 100%; }

.nav-title { text-align: center; width: 100%; height: 66.66%; font-size: 3rem; border-bottom: 1px solid #777; font-family: 'Myriad Pro'; }
.nav-title a { color: black; line-height: 66.66667px; }

.nav-links { height: 33.33%; width: 100%; margin: 0; padding: 0; border-bottom: 1px solid #777; background-color: #888; }

.nav-link { height: 100%; width: 33.33%; list-style-type: none; float: right; border-left: 1px solid #777; text-align: center; }
.nav-link a { display: block; font-size: 1.2rem; line-height: 33.33333px; transition: background-color 0.3s ease-in-out; }
.nav-link a:hover { text-decoration: none; background-color: #777; /* this must be equal to .navbar border-color */ }

.nav-links li:nth-of-type(3) { border-left: 0; }

/* TABLET */
@media screen and (min-width: 600px) { .navbar { height: 100px; background-image: url("../img/tweed.png"); border-bottom: 1px solid #333; }
  .nav-title { text-align: left; width: 33%; height: 100%; float: left; border: 0; }
  .nav-title a { font-size: 3.5rem; line-height: 100px; }
  .nav-links { float: right; width: 50%; height: 100%; border: 0; background-color: inherit; border-left: 1px solid #333; }
  .nav-link { border: 0; border-left: 1px solid #333; transition: opacity 0.3s ease-in-out; }
  .nav-link a { font-size: 1.5rem; line-height: 100px; color: black; display: block; height: 100%; width: 100%; }
  .nav-link a:hover { background-color: inherit; } }
/* DESKTOP */
@media screen and (min-width: 1000px) { .navbar { height: 70px; background-color: #eee; background-image: none; opacity: 0.8; position: fixed; border-bottom: 1px solid #ccc; }
  .nav-title { padding-left: 5px; background-image: none; }
  .nav-title a { font-size: 3.5rem; line-height: 70px; }
  .nav-title a:hover { text-decoration: none; }
  .nav-links { border: 0; border-left: 1px solid #ccc; }
  .nav-link { border-left: 1px solid #ccc; }
  .nav-link a { line-height: 70px; /* this must be equal to .navbar height */ font-family: Georgia; font-size: 1.8rem; display: block; transition: background-color 0.3s ease-in-out; }
  .nav-link a:hover { background-color: #ccc; /* this must be equal to .navbar border-color */ } }
/* FOOTER */
/* MOBILE */
.footer { width: 100%; overflow: auto; padding: 20px 10px; font-size: 1rem; }
.footer a, .footer p { color: black; }

/* TABLET */
@media screen and (min-width: 600px) { .footer > p { float: right; display: block; height: 45px; line-height: 45px; } }
/* FOOTER */
.contact { width: 100%; padding: 20px 15px; border-bottom: 2px solid black; }
.contact h1 { font-size: 2rem; text-align: center; font-family: 'Myriad Pro'; }

.contact-form { width: 100%; }
.contact-form span { font-size: 1.5rem; width: 130px; display: inline-block; padding-bottom: 2px; }
.contact-form input { width: 80%; font-size: 1.5rem; }
.contact-form textarea { width: 100%; height: 80px; }
.contact-form .contact-submit { float: none; width: auto; margin-top: 5px; }

.contact-form input:nth-of-type(2) { margin-bottom: 10px; }

/* TABLET */
@media screen and (min-width: 600px) { .contact { padding: 20px 150px; height: 600px; }
  .contact-form span { padding-bottom: 5px; }
  .contact-form input { width: 400px; margin: 0; }
  .contact-form textarea { height: 300px; font-size: 1.5rem; }
  .contact-form .contact-submit { width: 8rem; height: 4rem; }
  .contact-form input:nth-of-type(2) { margin-bottom: 0; } }

/*# sourceMappingURL=responsive-contact.css.map */
