/* GENERAL */
* { font-family: Georgia; box-sizing: border-box; color: #333; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { text-decoration: underline; }

.mixin-light-bg, .intro, .projects { background-color: #ddd; }

.mixin-dark-bg, .nav-title, .footer, .skills { background-image: url("../img/tweed.png"); }

/* GENERAL */
* { font-family: Georgia; box-sizing: border-box; color: #333; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { text-decoration: underline; }

.mixin-light-bg, .intro, .projects { background-color: #ddd; }

.mixin-dark-bg, .nav-title, .footer, .skills { background-image: url("../img/tweed.png"); }

/* NAVBAR */
.navbar { height: 100px; width: 100%; }

.nav-title { text-align: center; width: 100%; height: 66.66667px; font-size: 3em; /*background-color: $navbar-bg-color;
color: $navbar-text-color;*/ border-bottom: 1px solid #ccc; font-family: 'Myriad Pro'; }
.nav-title a { color: black; line-height: 66.66667px; }

.nav-links { height: 33.33333px; width: 100%; margin: 0; padding: 0; border-bottom: 1px solid #ccc; }

.nav-link { height: 100%; width: 33.33%; list-style-type: none; float: right; border-left: 1px solid #ccc; text-align: center; }
.nav-link a { display: block; font-size: 1.2em; line-height: 33.33333px; transition: background-color 0.3s ease-in-out; }
.nav-link a:hover { text-decoration: none; background-color: #ccc; /* this must be equal to .navbar border-color */ }

.nav-links li:nth-of-type(3) { border-left: 0; }

/* GENERAL */
* { font-family: Georgia; box-sizing: border-box; color: #333; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { text-decoration: underline; }

.mixin-light-bg, .intro, .projects { background-color: #ddd; }

.mixin-dark-bg, .nav-title, .footer, .skills { background-image: url("../img/tweed.png"); }

/* FOOTER */
.footer { width: 100%; overflow: auto; padding: 20px 10px; font-size: 1em; }
.footer a, .footer p { color: black; }

/* INTRO */
.intro { width: 100%; padding: 20px 15px; overflow: auto; border-bottom: 2px solid black; }
.intro h1 { width: 100%; text-align: center; font-family: 'Myriad Pro'; }
.intro p { width: 100%; font-size: 1.2em; }
.intro img { width: 60%; height: auto; margin: auto; margin: 5px auto; display: block; border: 1px solid black; border-radius: 5px; }

.intro:after { content: ''; display: block; clear: both; }

/* SKILLS */
.skills { width: 100%; overflow: auto; padding: 20px 15px; border-bottom: 2px solid black; }
.skills h1 { width: 100%; text-align: center; font-family: 'Myriad Pro'; color: black; }

.skills-list { list-style-type: none; }
.skills-list li { width: 100%; text-align: center; font-size: 1.5em; color: black; }

.skills-sublist { display: none; }
.skills-sublist li { list-style-type: none; font-size: 0.5em; }

/* PROJECTS */
.projects { width: 100%; padding: 20px 15px; border-bottom: 2px solid black; }
.projects h1 { width: 100%; text-align: center; font-family: 'Myriad Pro'; color: black; }

.projects-project { padding-bottom: 40px; }
.projects-project h1 { font-size: 1.5em; width: 100%; text-align: center; padding-bottom: 5px; font-family: 'Myriad Pro'; color: black; }

div.projects div:nth-of-type(2) { padding-bottom: 0; }

.projects-list { list-style-type: none; }
.projects-list img { width: 100%; display: block; margin: auto; border: 1px solid black; border-radius: 5px; margin-bottom: 5px; }

.projects-about { width: 100%; margin: auto; }
.projects-about p { font-size: 1.2em; }

/*# sourceMappingURL=responsive.css.map */
