
/* ########################################################################################## */
/* General */

$title-font: 'Myriad Pro', Arial;
$title-font-size: 3em;
$main-font: 'Georgia';
$main-font-size: 1.5em;

$light-bg-color: #ddd;
$dark-bg-image: url('../img/tweed.png');


* {
    margin: auto;
    font-family: $main-font;
}

.mixin-title {
        text-align: center;
        font-size: $title-font-size;
        font-weight: bold;
        font-family: $title-font;
}


/* ########################################################################################## */
/* Navbar */

$navbar-height: 60px;
$nav-link-width: 150px;
$nav-link-font-size: 1.2em;
$navbar-bg-color: #eee;
$navbar-text-color: #222;
$navbar-border-color: #ccc;

.navbar {
    width: 100%;
    height: $navbar-height;	/* .navbar height */
    background-color: $navbar-bg-color;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
    border-bottom: 1px solid $navbar-border-color; /* .navbar border-color */
    box-shadow: 0 -5px 30px black;

    a {
        color: $navbar-text-color;
        text-decoration: none;
    }
}

.nav-title {
    float: left;
    height: 100%;
    width: 300px;
    padding-left: 10px;

    a {
        line-height: $navbar-height + 15;	/* this must be equal to .navbar height */
        font-size: $navbar-height - 5;
        font-family: $title-font;
    }

}

.nav-links {
    float: right;
    height: 100%;
    width: 40%;
}

.nav-link {
    float: right;
    height: 100%;
    width: $nav-link-width;
    border-left: 1px solid $navbar-border-color;	/* this must be equal to .navbar border-color */
    text-align: center;
    list-style-type: none;

    a {
        line-height: $navbar-height;	/* this must be equal to .navbar height */
        font-family: $title-font;
        font-size: $nav-link-font-size;
        display: block;
        background-color: $navbar-bg-color;
        transition: background-color 0.3s ease-in-out;
    }

    a:hover {
        background-color: $navbar-border-color;	/* this must be equal to .navbar border-color */
    }
}

/* ########################################################################################## */
/* Intro */

$intro-height: 450px;
$intro-inner-width: 1000px;
$intro-padding: 100px;
$intro-bg-color: $light-bg-color;
$intro-border-color: #000;

.intro {
    width: 100%;
    height: $intro-height;
    padding-top: $intro-padding;
    padding-bottom: $intro-padding;
    background-color: $intro-bg-color;
    border-bottom: 2px solid $intro-border-color;
}

.intro-filler {
    width: 100%;
    height: $navbar-height;	/* this must be equal to .navbar height */
    background-color: $intro-bg-color;
}

.intro-inner {
    margin: auto;
    width: $intro-inner-width;
    height: $intro-height - 80px;
}

.intro-list {
    list-style-type: none;
    width: $intro-inner-width / 2;
    height: 100%;
    float: left;
}

.intro-portrait {
    border-radius: 3px;

    img {
        width: $intro-height - 80px;
        height: 100%;
        display: block;
        margin: auto;
        border-radius: 5px;
        border: 2px solid black;
    }
}

.intro-about {
    font-size: $main-font-size;
    display: flex;
    align-items: center; /* align vertical */
}

/* End Intro */
/* ########################################################################################## */
/* Skills */

$skills-height: 300px;
$skills-padding: 50px;
$skills-bg-image: $dark-bg-image;
$skills-border-color: #000;
$skills-font-color: #000;
$skills-inner-width: 800px;

.skills {
    width: 100%;
    height: $skills-height;
    padding-top: $skills-padding;
    padding-bottom: $skills-padding;
    background-image: $skills-bg-image;
    border-bottom: 2px solid $skills-border-color;

    p {
        color: $skills-font-color;
        text-shadow: 0 2px 3px #666;
    }
}

.skills-title {
    @extend .mixin-title;
}

.skills-inner {
    margin: auto;
    width: $skills-inner-width;
    margin-top: 40px;
}

.skills-box-left {
    width: $skills-inner-width / 2;
    float: left;
}

.skills-box-right {
    width: $skills-inner-width / 2;
    float: right;
}

.skills-list {
    margin: auto;
    width: 100px;

    li {
        margin-bottom: 10px;
    }

    p {
        text-align: left;
        font-size: 2em;
        cursor: pointer;
    }
}

.skills-list-sublist {
    margin-top: 5px;
    padding-left: 30px;
    font-size: 0.7em;
}

/* End Skills */
/* ########################################################################################## */
/* Projects */

$projects-height: 800px;
$projects-inner-width: 1000px;
$projects-project-height: 300px;
$projects-list-height: $projects-project-height - 50px;
$projects-padding: 50px;

$projects-bg-color: #ddd;
$projects-border-color: #000;
$projects-font-color: #000;

.projects {
    width: 100%;
    padding-top: $projects-padding;
    padding-bottom: $projects-padding;
    background-color: $projects-bg-color;
    border-bottom: 2px solid $projects-border-color;
}

.projects-inner {
    width: $projects-inner-width;
    padding-bottom: 50px;
}

.projects-title {
    @extend .mixin-title;
}

.projects-project {
    width: 100%;
    margin-top: 50px;
    height: $projects-project-height;
}

.projects-project-title {
    @extend .mixin-title;
    font-size: 2em;
}

.projects-list {
    width: 100%;
    height: $projects-list-height;
    margin-top: 20px;
    padding: 0;
}

.projects-list-item {
    list-style-type: none;
    height: ($projects-inner-width / 2) / 2;
    width: $projects-inner-width / 2 - 10;
    float: left;

    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: -10px 10px 15px #222;
        border: 2px solid black;
    }
}

.projects-about {
    width: $projects-inner-width / 2 - 50;
    float: right;
    font-size: $main-font-size;
    display: flex;
    align-items: center; /* align vertical */
}

/* End Projects */
/* ########################################################################################## */
/* Footer */

$footer-height: 80px;
$footer-contacts-width: 300px;
$footer-title-width: 200px;
$footer-bg-image: $dark-bg-image;
$footer-font-color: #000;
$footer-font-hover-color: #bbb;


.footer {
    width: 100%;
    height: 80px;
    background-image: $footer-bg-image;

    p,
    a {
        color: $footer-font-color;
        text-shadow: 0 1px 3px #666;
    }
}

.footer-contacts {
    padding-left: 5px;
    float: left;
    width: $footer-contacts-width;

    p,
    a {
        margin-top: $footer-height / 6;
    }

    a {
        text-decoration: none;
        transition: color 0.3s;
    }

    a:hover {
        color: $footer-font-hover-color;
    }
}

.footer-title {
    float: right;
    width: $footer-title-width;
    line-height: $footer-height;
    height: $footer-height;
    font-size: $main-font-size;
}

/* End Footer */
/* ########################################################################################## */
/* Contact Form */

$contact-height: 600px;
$contact-inner-width: 800px;
$contact-entry-width: 450px;
$contact-entry-input-width: 300px;
$contact-textarea-height: 300px;
$contact-padding: 60px;
$contact-bg-color: $light-bg-color;
$contact-border-color: #000;

.contact {
    padding-top: $contact-padding;
    width: 100%;
    height: $contact-height;
    background-color: $contact-bg-color;
    border-bottom: 2px solid $contact-border-color;
}

.contact-inner {
    padding-top: 40px;
    width: $contact-inner-width;
}

.contact-title {
    @extend .mixin-title;
}

.contact-entry {
    margin: 0;
    margin-bottom: 10px;
    width: $contact-entry-width;
    font-size: $main-font-size;

    input {
        border-radius: 3px;
        height: 20px;
        border: 0;
        box-shadow: 0 0 1px black;
        transition: box-shadow 0.2s;
        float: right;
        height: 25px;
        width: $contact-entry-input-width;
        padding-left: 6px;
        font-size: 0.8em;
    }

    input:focus {
        box-shadow: 0 0 7px black;
    }

    textarea {
        width: $contact-inner-width;
        height: $contact-textarea-height;
        border-radius: 5px;
        box-shadow: 0 0 1px black;
        transition: box-shadow 0.2s;
        padding: 10px;
        font-size: 0.7em;
    }

    textarea:focus {
        box-shadow: 0 0 7px black;
    }
}

.contact-submit {
    width: 80px;
    font-size: 10em;
    cursor: pointer;
}

/* End Contact Form */
/* ########################################################################################## */
