
@import "partials/general";
@import "partials/navbar";
@import "partials/footer";

/* ########################################################################## */
/* INTRO */
/* MOBILE */

.intro {
    width: 100%;
    padding: $general-padding;
    @extend .mixin-light-bg;
    overflow: auto;
    border-bottom: 2px solid black;

    h1 {
        width: 100%;
        text-align: center;
        font-family: 'Myriad Pro';
        padding-bottom: 5px;
    }

    p {
        width: 100%;
        font-size: 1.2rem;
    }

    img {
        width: 60%;
        height: auto;
        margin: 5px auto;
        display: block;
        border: 1px solid black;
        border-radius: 5px;
    }
}

/* TABLET */

@media screen and (min-width: 600px) {
    .intro {
        padding: 20px 80px;

        h1 {
            font-size: 2rem;
        }

        img {
            float: left;
            width: 40%;
            margin-right: 10px;
        }

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .intro-about {
        height: auto !important;
    }
}

/* ########################################################################## */
/* SKILLS */
/* MOBILE */

.skills {
    width: 100%;
    @extend .mixin-dark-bg;
    overflow: auto;
    padding: $general-padding;
    border-bottom: 2px solid black;

    h1 {
        width: 100%;
        text-align: center;
        font-family: 'Myriad Pro';
        color: black;
        padding-bottom: 5px;
    }
}

.skills-list {
    list-style-type: none;

    li {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        color: black;
    }

    li:hover {
        cursor: pointer;
    }
}

.skills-sublist {
    display: none;
    li {
        list-style-type: none;
        font-size: 1rem;
        color: #222;
    }
}

/* TABLET */

@media screen and (min-width: 600px) {
    .skills {
        padding: 20px 80px;
    }

    .skills-list {
        li {
            text-align: center;
            vertical-align: top;
            display: inline-block;
            width: percentage(1 / 5) - 1;
        }
    }

    .skills-sublist {
        li {
            width: 100%;
        }
    }
}

/* ########################################################################## */
/* PROJECTS */
/* MOBILE */

.projects {
    width: 100%;
    @extend .mixin-light-bg;
    padding: $general-padding;
    border-bottom: 2px solid black;

    h1 {
        width: 100%;
        text-align: center;
        font-family: 'Myriad Pro';
        color: black;
        padding-bottom: 5px;
    }
}

.projects-project {
    padding-bottom: 60px;
    text-align: center;

    .projects-project-title {
        font-size: 1.5rem;
        width: 100%;
        padding-bottom: 5px;
        font-family: 'Myriad Pro';
        color: black;
    }

    img {
        width: 100%;
        display: block;
        margin-right: 10px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 5px;
        float: left;
    }

    p {
        width: 100%;
        margin: auto;
        text-align: left;
        font-size: 1.5rem;
    }
}

.projects div:last-of-type {
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .projects-about {
        height: auto !important;
    }
}

/* TABLET */

@media screen and (min-width: 600px) {
    .projects {
        padding: 20px 60px;
        height: auto;

        h1 {
            font-size: 2rem;
        }
    }

    .projects-project {
        clear: both;
        overflow: auto;
        padding-bottom: 30px;

        .projects-project-title {
            font-size: 1.8rem;
        }

        .projects-content {
            padding-left: 20px;

            img {
                width: 66.66%;
                box-shadow: -10px 10px 10px black;
            }
        }
    }

    .projects div:last-of-type {
        padding-bottom: 20px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1000px) {
    .intro {
        padding: 30px 200px;
        padding-top: 20px + 60px;

        h1 {
            font-size: 3rem;
        }

        img {
            width: 40%;
        }

        .intro-about {
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */

            p {
                font-size: 1.5rem;
            }
        }
    }

    .skills {
        padding: 40px 100px;

        h1 {
            font-size: 3rem;
        }

        .skills-list li {
            width: percentage(0.98 / 5);
            font-size: 2rem;
        }

        .skills-sublist li {
            width: 100%;
            font-size: 1.5rem;
        }
    }

    .projects {
        padding: 40px 100px;

        h1 {
            font-size: 3rem;
        }

        .projects-project {

            a {
                font-size: 2.2rem;
            }

            .projects-content {

                img {
                    width: 45%;
                }

                .projects-about {
                    display: flex;
                    justify-content: center; /* align horizontal */
                    align-items: center; /* align vertical */
                }
            }
        }
    }
}
