* {
	margin: auto;
	padding: 0;
	font-family: Georgia;
}

/* ########################################################################################## */
/* Navbar */

.navbar {
	width: 100%;
	height: 80px;	/* .navbar height */
	background-color: #CEE8FE;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid #AEDDFF; /* .navbar border-color */
}

.navbar a {
	color: #034C89;
	text-decoration: none;
}

.nav-title {
	float: left;
	height: 100%;
	width: 300px;
	padding-left: 10px;
}

.nav-title a {
	line-height: 80px;	/* this must be equal to .navbar height */
	font-size: 4em;
	font-family: 'Arial', 'Myriad Pro';
}

.nav-links {
	float: right;
	height: 100%;
	width: 40%;
}

.nav-link {
	float: right;
	height: 100%;
	width: 150px;
	border-left: 1px solid #AEDDFF;	/* this must be equal to .navbar border-color */
	text-align: center;
	list-style-type: none;
}

.nav-link a {
	line-height: 80px;	/* this must be equal to .navbar height */
	font-family: 'Myriad Pro';
	font-size: 1.2em;
	display: block;
	background-color: #CEE8FE;
	transition: background-color 0.3s ease-in-out;
}

.nav-link a:hover {
	background-color: #AEDDFF;	/* this must be equal to .navbar border-color */
}

/* End Navbar */
/* ########################################################################################## */
/* Intro */

.intro {
	margin-top: 70px;	/* this must be equal to .navbar height */
	width: 100%;
	height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #FF9031;
	border-bottom: 1px solid #DF7021;
}

.intro-inner {
	margin: auto;
	width: 1000px;
	height: 300px;
}

.intro-list {
	list-style-type: none;
	width: 500px;
	height: 300px;
	float: left;
}

.intro-portrait {
	border-radius: 3px;
}

.intro-portrait img {
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
}

.intro-about {
	font-size: 1.5em;
	display: flex;
	align-items: center; /* align vertical */
}

/* End Intro */
/* ########################################################################################## */
/* Skills */

.skills {
	width: 100%;
	height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #50DA59;
	border-bottom: 1px solid #30BA39;
}

.skills-inner {
	margin: auto;
	height: 400px;
	width: 100%;
}

.skills-title {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: 'Myriad Pro';
}

.skills-box {
	margin: auto;
	width: 800px;
	margin-top: 40px;
}

.skills-box-left {
	width: 400px;
	float: left;
}

.skills-box-right {
	width: 400px;
	float: right;
}

.skills-list {
	margin: auto;
	width: 100px;
}

.skills-list-sublist {
	margin-top: 5px;
	padding-left: 30px;
	font-size: 0.7em;
	color: black;
}

.skills-list li {
	margin-bottom: 10px;
}

.skills-list p {
	text-align: left;
	font-size: 2em;
}

/* End Skills */
/* ########################################################################################## */
/* Projects */

.projects {
	width: 100%;
	height: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #FF615D;
	border-bottom: 1px solid #DF413D;
}

.projects-inner {
	height: 800px;
	width: 1000px;
}

.projects-title {
	text-align: center;
	font-size: 3em;
	font-family: 'Myriad Pro';
	font-weight: bold;
}

.projects-project {
	width: 100%;
	height: 300px;
	margin-top: 100px;
}

.projects-project-title {
	text-align: center;
	font-size: 2em;
	font-family: 'Myriad Pro';
	font-weight: bold;
}

.projects-list {
	width: 100%;
	height: 250px;
	margin-top: 20px;
}

.projects-list-item {
	list-style-type: none;
	width: 500px;
	height: 250px;
	float: left;
}

.projects-portrait img {
	width: 450px;
	height: 225;
	border-radius: 3px;
	box-shadow: -10px 10px 15px #222;
}

.projects-about {
	width: 450px;
	font-size: 1.5em;
	display: flex;
	align-items: center; /* align vertical */
}

/* End Projects */
/* ########################################################################################## */
/* Footer */

.footer {
	width: 100%;
	height: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #555;
	border-bottom: 1px solid #333;
}

.footer-contacts {
	padding-left: 5px;
	float: left;
	width: 300px;
}

.footer-contacts a {
	text-decoration: none;
	color: #222;
}

.footer-title {
	float: right;
	width: 200px;
	line-height: 50px;
	height: 50px;
	font-size: 1.5em;
}
